{% extends 'base.html'%}
{% block content %}
{% load bootstrap5 %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 d-flex" style="flex-wrap:wrap !important; justify-content:space-around;">
            {% for project in posts %}
            <div class="card flex-column col-sm-3 mx-1 my-2" style="height:800px;">
                <img src="{{project.userpic.url}}" alt="projectpic" height="400px">
                <h2 class="text-center">Title</h2>
                <h3 class="text-center my-2">{{project.title}}</h3>
                <h2 class="text-center">Description</h2>
                <h6>" {{project.description|truncatechars:70}}  "</h6>
                <p class="mt-auto align-self-center">
                    <a class="btn mt-auto btn-outline-primary" href="{%url 'findpost' project.id %}">
                        Click to View ...
                    </a>
                </p>
                <!-- <div class="section">
                    <div class="">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="form-group">
                                {% bootstrap_form form layout='inline'%}
                            </div>
                            <button class="btn btn-primary" type=submit>Comment</button>
                        </form>
                    </div>
                </div> -->
                <div>
                    <h4 class="text-center">Comments...</h4>
                    <h5><a href="{%url 'addcomment' project.id %}" class="btn btn-success">Add Comment</a></h5>
                    {% if not project.comments.all %}
                        No Comments Yet...<a href="{%url 'addcomment' pk=project.id %}">Add One</a>
                    {% else %}
                        {% for comment in project.comments.all%}
                            <strong>
                                {{comment.user}}
                                {{comment.date}}
                            </strong>
                            <br>
                            {{ comment.comment }}
                        {%endfor%}
                    {%endif%}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}